* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
:root {
  --secondary: #088178;
  --primary: #ebeefc;
  --coral: #fddde4;
  --dark: #161616;
  --pure: #ffffff;
  --tertiary: #898989;
  --light: #f2f2f2;
  --danger: #c9042c;
}
body{
  overflow-x: hidden;
}
h1 {
  font-size: 50px; 
  line-height: 64px;
  color: var(--dark);
  font-family: lato, sans-serif;
}
h2 {
  font-size: 40px;
  line-height: 54px;
  color: var(--dark);
  font-family: lato, sans-serif;
}
h4 {
  font-size: 20px;

  color: var(--dark);
  font-family: lato, sans-serif;
}
.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}
#header {
  padding: 5px 30px;
  background: var(--primary);
  box-shadow: 0, 0  ,0.02px ,0 10px var(--tertiary);
  z-index: 999;
  position: sticky;
}

section#header .nav-li ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
section#header .nav-li ul li {
  padding: 10px 20px;
}
section#header .nav-li ul li a {
  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 15px;
  position: relative;
}
section#header .nav-li ul li a:hover,
section#header .nav-li ul li a.active {
  color: var(--secondary);
}
section#header .nav-li ul li a.active::after,
section#header .nav-li ul li a:hover::after {
  content: "";
  width: 60%;
  height: 2px;
  background: var(--secondary);
  position: absolute;
  bottom: -4px;
  left: 0;
}
.hero {
  background: url(/img/hero4.png);
  height: 85vh;
  width: 100%;
  background-size: cover;

 
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero h1 {
  margin-bottom: 0.5rem;
  color: var(--secondary);
}
.hero p {
  margin-bottom: 1rem;
  color: var(--tertiary);
}
.btn {
  padding: 0.8rem, 2rem;
  border-radius: 4px;
  width: 8rem;
  height: 2.2rem;
  font-size: 1rem;
  font-weight: 600;
  border: 0.01rem solid transparent;
  cursor: pointer;
  transition: all 0.3s, ease;
}
.btn-primary {
  background: var(--primary);
  color: var(--secondary);
}

.btn-primary:hover {
  background: var(--secondary);
  color: var(--primary);
}
.btn-danger {
  background: var(--primary);
  color: var(--danger);
}
.btn-danger:hover {
  background: var(--danger);
  color: var(--primary);
}
.section-features {
  padding: 2rem;
}
.section-features .features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-features .features {
  border: 1px solid var(--light);
  margin: 8px;
  width: 170px;
  padding: 2rem 0;
  text-align: center;
  box-shadow: 0.5px 0.5px 6px var(--light);
}
.section-features .features:hover {
  box-shadow: 1px 1px 20px var(--primary);
}
.section-features .features img {
  width: 100%;
  padding: 10px;
}
.section-features .features h6 {
  margin-top: 1rem;
  padding: 6px 15px;
  border-radius: 4px;
  color: var(--secondary);
  background: var(--coral);

  display: inline-block;
}
.section-features .features:nth-child(2) h6 {
  background: #cdebbc;
}
.section-features .features:nth-child(3) h6 {
  background: #d1e8f2;
}
.section-features .features:nth-child(4) h6 {
  background: #cdd4f8;
}
.section-features .features:nth-child(5) h6 {
  background: #f6dbf6;
}
.section-features .features:nth-child(6) h6 {
  background: #fff2e5;
}
.section-product {
  padding: 40px 80px;
 
}
 h2 {
  text-align: center;
  margin-bottom: 6px;
}
 p {
  text-align: center;
}
.section-product .product-wrapper{
  padding: 20px;
 
}
.section-product .products {
  width: 15%;
  min-width: 200px;
  border: 1px solid var(--light);
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  box-shadow: 1px 1px 10px var(--light);
  transition: all 0.3 ease;
}
.section-product .products:hover {
  box-shadow: 2px 2px 20px var(--primary);
}
.section-product .products img {
  width: 100%;
  border-radius: 10px 10px;
  padding-bottom: 8px;
}
.section-product .products .pro-details .star {
  display: flex;
  align-items: center;
  width: 20px;
  margin-bottom: 4px;
}
.section-product .products .pro-details .star img {
  padding: 2px;
}
.section-product .products .pro-details span {
  padding: 4px;
  color: var(--tertiary);
}
.section-product .products .pro-details h5 {
  padding: 2px;
  margin-bottom: 1px;
}
.section-product .products .price {
  padding: 4px;
  font-weight: 400;
  color: var(--secondary);
}
.product-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
}
section.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(/img/banner/b2.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
}
section.banner h2,
section.banner h4 {
  color: var(--pure);
}
section.banner h2 {
  margin-bottom: 1rem;
}
section.banner h2 span {
  color: var(--danger);
}
.section-b-1,
.section-b-2 {
  padding: 40px 80px;
  margin-left: -20px;
}

.section-b-2 div h4 {
  color: var(--primary);
}
.section-b-2 div h2 {
  color: var(--danger);
}
.section-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  background-position: center;
}

.banner1 {
  background: url(/img/banner/b17.jpg);
}

.banner2 {
  background: url(/img/banner/b10.jpg);
}
.banner3 {
  background:linear-gradient(rgba(240, 235, 235, 0), rgba(81, 78, 78, 0.9)), url(/img/banner/b7.jpg);
  background-position: center;
  height: 40vh;
}
.banner4 {
  background:linear-gradient(rgba(7, 7, 7, 0), rgba(62, 61, 61, 0.9)), url(/img/banner/b4.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
}
.banner5 {
  background: linear-gradient(rgba(240, 235, 235, 0), rgb(206, 201, 201)),
    url(/img/banner/b18.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
}
.section-banner p {
  margin-bottom: 1rem;
}
.news-letter {
  display: flex;
  align-items: center;
  justify-content: space-around;
width: 100%;
  background: url(/img/banner/b1.jpg);
  padding: 20px;
  height: 30vh;
}
.news-letter h4 {
  color: var(--primary);
  margin-bottom: 1rem;
}
.news-letter p {
  color: var(--tertiary);
}
.news-letter p span {
  color: var(--danger);
}
.news-letter .input-wrapper {
  background: var(--pure);
  display: flex;
  padding: 0.1rem;
  border-radius: 4px;
  width: 40%;
}
.news-letter .input-wrapper input {
  width: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  background: var(--pure);
}
.news-letter .input-wrapper input:focus{
    outline: none;
}
.news-letter button {
  padding: 0.8rem 2rem;
  border: none;
  margin-right: 5px;
  border-radius: 4px;
  background: var(--danger);
  color: var(--pure);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  margin: 2px;

 
}
.news-letter button:hover{
    background: var(--pure);
    color: var(--danger);
    border: 1px solid var(--danger);
}
footer .links-wrapper{
    display: flex;
    
    justify-content: space-around;
}
footer .links-wrapper div{
    margin: 20px;
}
footer .links-wrapper p{
    margin-bottom: 10px;
}
footer .links-wrapper a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--tertiary);
    text-align: center;
    margin-bottom:3px ;
    transition: all 0.3s ease;
    
}
footer .links-wrapper a:hover{
    color: var(--secondary);
    font-weight: 600;
}
/* footer .links-wrapper button{
height:fit-content;
padding: 10px;
width: 200px;
margin: 2px;
border-radius: 4px;
}
footer .links-wrapper button:nth-child(1){
    background:var(--secondary);
    color: var(--pure);
   
}

footer .links-wrapper button:nth-child(2){
    background: var(--danger);
    color: var(--pure);
} */
footer .popular-links p{
    padding: 20px;
}
footer .popular-links a{
   
    text-decoration: none;
    color: var(--tertiary);
    text-align: center;
    margin-bottom:3px ;
    transition: all 0.3s ease; 
   
}
footer .popular-links a:hover{
    color: var(--secondary);
    font-weight: 600;
}
footer .col1{
    margin-top: 40px;
    text-align: justify;
}
footer .col1 h5{
    font-size: 15px;
    margin-bottom: 8px;
}

footer .col1 p{
    text-align: justify;
    color: var(--tertiary);
}

.buttons img:nth-child(1){
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px;
}
.buttons img:nth-child(2){
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px;
}
section .gift-cards .card-wrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
 align-items: center;
margin: auto;
 margin-top: 30px;
 
}
section .card-wrapper img{
  width: 200px;
  height: 120px;
 margin: auto;
  padding: 2px;
}
section .card-wrapper img:hover{
  box-shadow: 5px 5px 20px var(--tertiary);
  cursor: pointer;
}
.section.trendy{
  margin: auto;
}
section.trendy .outer{
  position: relative;
  margin: 20px 0;
 
}
section.trendy .outer img{
 width:100%;
 height: 220px;
}
section.trendy .inner{
  position: absolute;
  bottom: 16px;
  left: 6px;
}
section.trendy .inner img {
  width: 150px;
  height: 200px;
 
  /* display: flex;
  justify-content: center; */
  align-items: center;
  transition: all 0.3s ease;
}
section.trendy .inner img:hover{
  box-shadow: 5px 5px 30px var(--primary);
  cursor: pointer;
}
section.trendy .inner .info{
  position: absolute;
  background:var(--primary);
 padding: 10px;
 top: 84%;
 width: 100%;
 text-align: center;
}
section.trendy .inner .info:hover{
  cursor: pointer;
  color: var(--secondary);
  font-weight: 400;
}
.sie-main{
  position: relative;
}
.hamburger{
position: absolute;
left: 90%;
top:10px;
border: none;
background: none;
outline: none;
z-index: 1111;
cursor: pointer;
display: none;

}
.close{
  position: fixed;
  border: none;
background: none;
outline: none;
cursor: pointer;
top: 10px;

}
.mobile-nav{
  position: fixed;
  top: 0;
  z-index: 1001;
  background:var(--primary);
  width: 40%;
  height: 100%;
  padding: 2rem;
  padding-top: 6rem;
  transform: translatex(-100%);
  transition: all 0.5s ease-in-out;
    }
    .mobile-nav .nav-li ul li{
      list-style: none;
      padding: 10px;
    }
    .mobile-nav .nav-li ul li a{
      text-decoration: none;
      color: var(--secondary);
      font-size: 20px;
     
     
    }
    .mobile-nav .nav-li ul li a:hover{
      color: var(--danger);
    }
    .open{
     transform: translate(0);
    }

    @media(max-width:1440px){
      
     
      .section-b-1 .container .banner1{
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 6px;
        
      }
      .section-b-1 .container .banner2{
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 6px;
        
      }
      .section-b-2  .banner3{
        height: 250px;
        background-size: cover;
        background-position: center;
        margin-bottom: 6px;
        
      }
      .section-b-1 h4,.section-b-1 p{
        color: var(--light);
      }
      .section-b-1 h2{
        color: var(--light);
      }
      .section-b-1  .banner2 h4{
    font-size: 20px;
    color: var(--light);
      }
      .section-b-1  .banner2 h2{
        font-size: 20px;
        color: var(--light);
          }
          .section-b-1  .banner2 p{
            color: var(--light);
              }
      .section-b-2  .banner4{
     height: 250px;
      }
      .section-b-2  .banner5{
        height: 250px;
      }
      .section-b-2  h2{
        font-size: 30px;
    }
      
    }
@media(max-width:1257px){
  section.trendy .wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    grid-gap:50px;
    padding: 30px;
    
  }
  section.trendy .wrapper .outer{
    width: 80%;
    margin: auto;
  }
  section .gift-cards .card-wrapper{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap:8px
  }
  .hero h4{
    font-size: 20px;
    padding-top: 30px;
   
  }
  .hero h2{
    font-size: 30px;
   margin-bottom: -20px;
   
  }
  .hero h1{
    font-size: 20px;
    margin-bottom: -19px;
  }
  .hero p{
    font-size: 20px;
    
  }
  
  .hero{
    height: 400px;
    padding: 40px;
   
    margin-bottom: 20px;
    background: linear-gradient(rgba(19, 19, 19, 0),rgba(238, 232, 232, 0)),url(/img/hero4.png);
    background-size: cover;
    background-position: center;
  }
}
@media(max-width:1024px){
  .product-wrapper{
    grid-template-columns: repeat(4,1fr);
  }
  .hero{
    height: 400px;
    padding: 40px;
   
    margin-bottom: 20px;
  
    background-size: cover;
    
  }
  .section-b-1 .container .banner1{
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 6px;
    
  }
  .section-b-1 .container .banner2{
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 6px;
    
  }
  .section-b-2  .banner3{
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 6px;
    
  }
  .section-b-1 h4,.section-b-1 p{
    color: var(--light);
  }
  .section-b-1 h2{
    color: var(--light);
  }
  .section-b-1  .banner2 h4{
font-size: 20px;
color: var(--light);
  }
  .section-b-1  .banner2 h2{
    font-size: 20px;
    color: var(--light);
      }
      .section-b-1  .banner2 p{
        color: var(--light);
          }
  .section-b-2  .banner4{
  height: 150px;
  }
  .section-b-2  .banner5{
    height: 150px;
  }
  .section-b-2  h2{
    font-size: 30px;
}
}
@media(max-width:768px){
.product-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 
}
section.trendy .wrapper .outer{
  width: 117%;
}
.section-b-1 .container .banner1{
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 6px;
  
}
.section-b-1 .container .banner2{
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 6px;
  
}
.section-b-1 .container .banner2 h2{

color: var(--pure);
}
.section-b-1 .container .banner2 h4{
  font-size: 25px;
  color: var(--pure);
}
.section-b-1 .container{
  flex-direction: column;
  
  
  }
.section-b-1 .container .banner2 p{
  color: var(--pure);
}
.section-b-2 .container{
  flex-direction: column;
}
.section-b-2 .container .banner3{
background-size: cover;
background-position: center;
margin-bottom: 3px;
}
.section-b-2 .container .banner4{
  background-size: cover;
  background-position: center;
  margin-bottom: 3px;
  }
.section-b-2 .container .banner5{
  background-size: cover;
  background-position: center;
  }
  .news-letter {
    justify-content: space-between;
  }
  .hamburger{
    display: none;
  }
}

@media(max-width:820px){
  .hamburger{
    display: none;
  }
  section.trendy .wrapper .outer{
    width: 106%;
  }
  .product-wrapper{
    grid-template-columns: repeat(3,1fr);
  }
  .section-b-1 .container{
    flex-direction: column;
    
    
    }
    .section-b-1 .container .banner1{
      height: 250px;
      background-size: cover;
      background-position: center;
      margin-bottom: 6px;
      
    }
    .section-b-1 .container .banner2{
      height: 300px;
      background-size: cover;
      background-position: center;
    }
    .section-b-2 .container{
      flex-direction: column;
    }
    .section-b-2 .container .banner3{
    background-size: cover;
    background-position: center;
    margin-bottom: 3px;
    height: 300px;
    }
    .section-b-2 .container .banner4{
      background-size: cover;
      background-position: center;
      margin-bottom: 3px;
      height: 300px;
      }
    .section-b-2 .container .banner5{
      background-size: cover;
      background-position: center;
      height: 300px;
      }
      .news-letter{
        justify-content: space-between;
      }
      .hero h4{
        font-size: 20px;
        padding-top: 30px;
       
      }
      .hero h2{
        font-size: 30px;
       margin-bottom: -20px;
       
      }
      .hero h1{
        font-size: 20px;
        margin-bottom: -19px;
      }
      .hero p{
        font-size: 20px;
        padding-top: 10px;
      }
      
      .hero{
        height: 400px;
        padding: 40px;
       
        margin-bottom: 20px;
        background: linear-gradient(rgba(19, 19, 19, 0),rgba(238, 232, 232, 0)),url(/img/hero4.png);
        background-size: cover;
        background-position: center;
      }
}




@media(max-width:768px){
  section.trendy .wrapper .outer{
    width: 118%;
    margin: auto;
  }
  .product-wrapper{
    grid-template-columns: repeat(3,1fr);
  }
  .section-b-1 .container{
    flex-direction: column;
    
    
    }
    .section-b-1 .container .banner1{
      height: 250px;
      background-size: cover;
      background-position: center;
      margin-bottom: 6px;
      
    }
    .section-b-1 .container .banner2{
      height: 300px;
      background-size: cover;
      background-position: center;
    }
    .section-b-2 .container{
      flex-direction: column;
    }
    .section-b-2 .container .banner3{
    background-size: cover;
    background-position: center;
    margin-bottom: 3px;
    height: 300px;
    }
    .section-b-2 .container .banner4{
      background-size: cover;
      background-position: center;
      margin-bottom: 3px;
      height: 300px;
      }
    .section-b-2 .container .banner5{
      background-size: cover;
      background-position: center;
      height: 300px;
      }
      .news-letter{
        justify-content: space-between;
      }
      .hero h4{
        font-size: 20px;
        padding-top: 30px;
       
      }
      .hero h2{
        font-size: 30px;
       margin-bottom: -20px;
       
      }
      .hero h1{
        font-size: 20px;
        margin-bottom: -19px;
      }
      .hero p{
        font-size: 20px;
        
      }
      
      .hero{
        height: 400px;
        padding: 40px;
       
        margin-bottom: 20px;
        background: linear-gradient(rgba(19, 19, 19, 0),rgba(238, 232, 232, 0)),url(/img/hero4.png);
        background-size: cover;
        background-position: center;
      }
}
@media(max-width:540px){
  .section-features .features-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  section.trendy h2{
    font-size: 25px;
  }
  section.trendy .wrapper .outer{
    width: 75%;
   }
   section.trendy .wrapper{
    grid-template-columns: repeat(2,1fr);
    margin: auto;
   }
   section .gift-cards .card-wrapper{
    grid-template-columns: repeat(2,1fr);
   }
   .product-wrapper{
    grid-template-columns: repeat(2,1fr);
   }
   footer .buttons{
    display: none;
   }
}
@media(max-width:418px){
  .hamburger{
    display: inline;
  }
  section#header .nav-li ul  {
    display: flex;
    flex-direction: column;
  display: none;
 }
 .section-features .features-wrapper{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 }
 section.trendy h2{
  
    font-size: 25px;
  
 }
 section.trendy .wrapper .outer{
  width: 10%;
 }
 section.trendy .wrapper{
  grid-template-columns: repeat(2,1fr);
  margin: auto;
 }
 section .gift-cards .card-wrapper{
  grid-template-columns: repeat(2,1fr);
 }
 .banner h2{
  font-size: 40px;
 }
 .product-wrapper{
 display: flex;
 flex-direction: column;
}
.section-product h2{
  font-size: 30px;
  text-align: center;
}
.section-product p{
  font-size: 14px;
}
.news-letter .input-wrapper input{
  font-size: 10px;
  padding: 0px;
}
.news-letter .input-wrapper button{
  padding: 2px;
  font-size: 12px
}

footer .links-wrapper .buttons{
  flex-direction: column;
  display: none;
}
.section-b-1 .container{
flex-direction: column;


}
.section-b-1 .container .banner1{
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 6px;
  
}
.section-b-1 .container .banner2{
  height: 300px;
  background-size: cover;
  background-position: center;
}
.section-b-2 .container{
  flex-direction: column;
}
.section-b-2 .container .banner3{
background-size: cover;
background-position: center;
margin-bottom: 3px;


}
.section-b-2 .container .banner4{
  background-size: cover;
  background-position: center;
  margin-bottom: 3px;
  
  }
.section-b-2 .container .banner5{
  background-size: cover;
  background-position: center;
  }
  section.trendy .wrapper .outer{
    width: 107%;
    margin: auto;
  }
  .hero h4{
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: -10px;
  }
  .hero h2{
    font-size: 10px;
    margin-bottom: -40px;
   
  }
  .hero h1{
    font-size: 10px;
  }
  .hero p{
    font-size: 10px;
    
  }
  .hero button{
    width: 100px;
  }
  
  .hero{
    height: 200px;
    padding: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    background: linear-gradient(rgba(19, 19, 19, 0),rgba(238, 232, 232, 0)),url(/img/hero4.png);
    background-size: cover;
    background-position: center;
  }

 
}
@media(max-width:380px){
  section.trendy .wrapper .outer{
    width: 122%;
  }
  section .gift-cards .card-wrapper{
    display: flex;
    flex-direction: column;
   }
   .section-b-1 .container{
    flex-direction: column;
    
    
    }
    .section-b-1 .container .banner1{
      height: 200px;
      background-size: cover;
      background-position: center;
      margin-bottom: 6px;
      
    }
    .section-b-1 .container .banner1 h2{
      font-size: 20px;
    }
    .section-b-1 .container .banner1 h4{
      font-size: 20px;
    }
    .section-b-1 .container .banner2{
      height: 200px;
      background-size: cover;
      background-position: center;
      padding: 20px;
    }
    .section-b-1 .container .banner2 h4{
      font-size: 20px;
    }
    .section-b-1 .container .banner2 h2{
      font-size: 10px;
    }
    .section-b-2 .container{
      flex-direction: column;
    }
    .section-b-2 .container .banner3{
    background-size: cover;
    background-position: center;
    margin-bottom: 3px;
    height: 150px;
    
    
    }
    .section-b-2 h4{
      font-size: 15px;
    }
    .section-b-2 h2{
      font-size: 20px;
    }
    .section-b-2 .container .banner4{
      height: 150px;
    }
    .section-b-2 .container .banner5{
      height: 150px;
    }
    .news-letter{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .news-letter p{
      margin-bottom: 20px;
    }
}
@media(max-width:280px){
  .hamburger{
    display: inline;
  }
  section#header .nav-li ul  {
    display: flex;
    flex-direction: column;
  display: none;
 }
 .section-features .features-wrapper{
 display: flex;
 flex-direction: column;
 }
 section.trendy h2{
  
    font-size: 18px;
  
 }
 section.trendy .wrapper .outer{
  width: 10%;
 }
 section.trendy .wrapper{
 display: flex;
 flex-direction: column;
 }
 section .gift-cards .card-wrapper{
  display: flex;
  flex-direction: column;
 }
 .banner h2{
  font-size: 20px;
  
 }
 .section-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .product-wrapper{
 display: flex;
 flex-direction:column;
 justify-content: flex-start;
 align-items: flex-start;
 
}
.section-product h2{
  font-size: 20px;
  text-align: center;
}
.section-product p{
  font-size: 10px;
}
.news-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-letter p{
  margin-bottom: 15px;
}
.news-letter .input-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .links-wrapper{
  flex-direction: column;
}
footer .links-wrapper .buttons{
  flex-direction: column;
  display: inline;
}
.section-b-1 .container{
flex-direction: column;
}
.section-b-1 h4{
font-size: 10px;
margin: 0;
padding: 0%;
}
.section-b-1 .container .banner1 h4{
  font-size: 10px;
}
.section-b-1 .container .banner1 h2{
font-size: 10px;
}
.section-b-1 .container .banner1{
  font-size: 0px;
  height:fit-content;
  width: 100%;
  background-size: cover;
  background-position: center;
 padding: 10px;
  
}
.section-b-1 .container .banner2 h4{
  font-size: 10px;
  margin: 0%;
  padding: 0;
}
.section-b-1 .container .banner2 h2{
  font-size: 10px;
}
.section-b-1 .container .banner2{
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-position: center;
  padding: 10px;
}
.section-b-2 .container{
  flex-direction: column;
}
.section-b-2 h4{
  font-size: 10px;
}
.section-b-2 h2{
  font-size: 16px;
}
.section-b-2 .container .banner3{
  height: 100px;
background-size: cover;
background-position: center;
margin-bottom: 3px;


}
.section-b-2 .container .banner4{
  height: 100px;
  background-size: cover;
  background-position: center;
  margin-bottom: 3px;
  
  }
.section-b-2 .container .banner5{
  height: 100px;
  background-size: cover;
  background-position: center;
  }
  section.trendy .wrapper .outer{
    width: 74%;
    margin: auto;
  }
  .hero h4{
    font-size: 16px;
    padding-top: 30px;
    margin-bottom: -10px;
  }
  .hero h2{
    font-size: 10px;
    margin-bottom: -40px;
   
  }
  .hero h1{
    font-size: 10px;
  }
  .hero p{
    font-size: 10px;
 
  }
  .hero button{
    font-size: 10px;
    padding: 2px;
   
  }
  .hero{
    height: 200px;
    padding: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    
    background-size: cover;
    background-position: center;
  }
}

